version: '3.8'


services:


  db:

    image: mysql:8.0

    container_name: mysql_db

    environment:

      MYSQL_ROOT_PASSWORD: rootpassword

      MYSQL_DATABASE: ivolve

    volumes:

      - db_data:/var/lib/mysql

    networks:

      - app_network


  app:

    build: .

    container_name: node_app

    ports:

      - "3000:3000"

    environment:

      DB_HOST: db

      DB_USER: root

      DB_PASSWORD: rootpassword

    depends_on:

      - db

    networks:

      - app_network


networks:

  app_network:

    driver: bridge


volumes:

  db_data:
