---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install MySQL Server and Python dependencies
  apt:
    name:
      - mysql-server
      - python3-mysqldb
      - python3-pymysql
    state: present

- name: Ensure MySQL service is running and enabled
  service:
    name: mysql
    state: started
    enabled: yes

- name: Create Database iVolve
  mysql_db:
    name: iVolve
    state: present
    login_unix_socket: /var/run/mysqld/mysqld.sock

- name: Create MySQL User for Lab
  mysql_user:
    name: ivolve_user
    password: "YourStrongPassword123"
    priv: "iVolve.*:ALL"
    state: present
    host: "%"
    login_unix_socket: /var/run/mysqld/mysqld.sock
