apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: log-pvc
  namespace: ivolve
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
