apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: log-pvc
  namespace: ivolve
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 500Mi
  storageClassName: manual
